@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-image: linear-gradient(#2c2b2b, black);
  border: black solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.3fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: "logo" "nav"; }
  .header a {
    grid-area: logo;
    color: #d41414;
    text-decoration: none;
    font-family: "Rock Salt", cursive; }
  .header img {
    width: 100px; }
  .header nav {
    grid-area: nav; }
    .header nav .nav-link:hover {
      color: white; }

.footer {
  background-image: linear-gradient(black, #2c2b2b);
  color: red;
  border: solid black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center; }
  .footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .footer img {
    width: 30px;
    margin-left: 15px; }
  .footer p {
    font-family: "Dokdo", cursive;
    font-size: x-large; }

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start; } }

.main {
  margin-top: 150px;
  background-color: black;
  border: black solid;
  color: white;
  min-height: 100vh; }

.main-shows {
  margin-top: 150px;
  background-color: black;
  color: white;
  border: black solid; }
  .main-shows h1, .main-shows .main-biografia h2, .main-biografia .main-shows h2 {
    display: block;
    text-align: -webkit-center;
    font-family: "Dokdo", cursive; }
  .main-shows h2 {
    font-family: "Dokdo", cursive; }
  .main-shows a {
    font-family: "Dokdo", cursive; }
  .main-shows .shows {
    display: flex;
    flex-direction: column; }
  .main-shows .show-principal, .main-shows .shows-chicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 15px;
    border: 2px #ffffff solid;
    border-radius: 5%; }
    .main-shows .show-principal img, .main-shows .shows-chicos img {
      width: 100%; }
    .main-shows .show-principal p, .main-shows .shows-chicos p {
      line-height: 10px;
      text-align: center;
      font-family: "Dokdo", cursive; }
  .main-shows .shows-chicos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main-shows .shows-chicos img {
      width: 40%; }

@media (min-width: 768px) {
  .main-shows .shows-chicos img {
    width: 50%; }
  .main-shows .shows-chicos p {
    line-height: normal; } }

@media (min-width: 1024px) {
  .main-shows .shows {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .main-shows .shows ::-webkit-scrollbar {
      width: 10px;
      -webkit-appearance: none; }
    .main-shows .shows ::-webkit-scrollbar-track {
      border-radius: 10px; }
    .main-shows .shows ::-webkit-scrollbar-thumb {
      background-color: grey;
      border: 2px solid #f1f2f3;
      border-radius: 20px; }
  .main-shows .show-principal img, .main-shows .shows-chicos img {
    height: 75%; }
  .main-shows .show-principal p, .main-shows .shows-chicos p {
    font-size: large; }
  .main-shows .shows-secundarios {
    overflow: auto;
    overflow-x: hidden; }
  .main-shows .shows-chicos {
    display: flex;
    flex-direction: row; }
    .main-shows .shows-chicos img {
      height: 300px; } }

.main-discografia {
  margin-top: 150px;
  background-color: black;
  color: white;
  border: black solid;
  min-height: 100vh;
  padding: 30px; }
  .main-discografia h1, .main-discografia .main-biografia h2, .main-biografia .main-discografia h2 {
    display: block;
    text-align: -webkit-center;
    font-family: "Dokdo", cursive; }
  .main-discografia section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  .main-discografia div {
    display: block;
    text-align: center;
    width: 157px; }
    .main-discografia div img {
      width: 85%; }
    .main-discografia div:hover img {
      width: 100%; }
    .main-discografia div p {
      font-family: "Dokdo", cursive;
      line-height: 10px; }

@media (min-width: 1024px) {
  .main-discografia {
    height: 100%; }
    .main-discografia div {
      width: 300px; } }

.main-biografia {
  margin-top: 150px;
  background-color: black;
  color: white;
  border: black solid; }
  .main-biografia h1, .main-biografia h2 {
    font-family: "Dokdo", cursive;
    display: block;
    text-align: -webkit-center; }
  .main-biografia .integrantes {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "chizzo tete"  "tanque manu"; }
    .main-biografia .integrantes .chizzo {
      grid-area: chizzo; }
    .main-biografia .integrantes .tete {
      grid-area: tete; }
    .main-biografia .integrantes .tanque {
      grid-area: tanque; }
    .main-biografia .integrantes .manu {
      grid-area: manu; }
    .main-biografia .integrantes div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main-biografia .integrantes div p {
        font-family: "Dokdo", cursive;
        line-height: 12px; }
      .main-biografia .integrantes div img {
        width: 100%;
        height: 60%; }
  .main-biografia .biografia {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 18px; }
    .main-biografia .biografia p {
      font-family: "Space Mono", monospace; }
    .main-biografia .biografia img {
      width: 90%; }
  @media (min-width: 768px) {
    .main-biografia .integrantes {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.2fr;
      gap: 0px 0px;
      grid-template-areas: "chizzo tete tanque manu"; }
      .main-biografia .integrantes .chizzo {
        grid-area: chizzo; }
      .main-biografia .integrantes .tete {
        grid-area: tete; }
      .main-biografia .integrantes .tanque {
        grid-area: tanque; }
      .main-biografia .integrantes .manu {
        grid-area: manu; }
      .main-biografia .integrantes div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black; }
        .main-biografia .integrantes div p {
          font-family: "Dokdo", cursive;
          line-height: 12px; }
        .main-biografia .integrantes div img {
          width: 100%;
          height: 60%; }
    .main-biografia .biografia {
      margin-left: 20%;
      margin-right: 20%;
      text-align: justify;
      display: inline-block; }
      .main-biografia .biografia p {
        font-family: "Space Mono", monospace; }
      .main-biografia .biografia .img-1, .main-biografia .biografia .img-2, .main-biografia .biografia .img-3 {
        float: left;
        width: 35%;
        margin: 15px; }
      .main-biografia .biografia .img-2 {
        float: right; }
      .main-biografia .biografia .img-4 {
        display: block;
        margin: auto;
        max-width: 80%; } }

.main-contacto {
  margin-top: 150px;
  background-color: black;
  color: white;
  border: black solid;
  height: 100vh; }
  .main-contacto div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .main-contacto div form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main-contacto div form input {
        margin: 20px;
        width: 300px; }
      .main-contacto div form .mensaje {
        height: 150px; }
  .main-contacto h1, .main-contacto .main-biografia h2, .main-biografia .main-contacto h2 {
    font-family: "Dokdo", cursive;
    display: block;
    text-align: -webkit-center; }
  .main-contacto img {
    width: 100%; }

@media (min-width: 1024px) {
  .main-contacto div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .main-contacto img {
    width: 60%; } }
