.footer {
    background-image: linear-gradient(black, #2c2b2b);
    color: red;
    border: solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    img {
        width: 30px;
        margin-left: 15px;
    }

    p {
        font-family: 'Rock Salt', cursive;
    }

    small {
        font-family: 'Rock Salt', cursive;
    }
}

@media (min-width: 768px){
    .footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: flex-start
    }
}