.main-shows {
    background-color: black;
    color: white;
    border: black solid;

    h1 {
        display: block;
        text-align: -webkit-center;
        font-family: $fuente-cortos;
    }
    h2{
        font-family: $fuente-cortos;
    }

    a {
        font-family: $fuente-cortos;
    }

    .shows {
        display: flex;
        flex-direction: column;
    }

    .show-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
        padding: 15px;
        border: 2px rgb(253, 252, 252) solid;
        border-radius: 5%;

        img {
            width: 100%;
        }

        p {
            line-height: 10px;
            text-align: center;
            font-family: $fuente-cortos;
        }
    }
    
    .shows-chicos {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 30px;
        padding: 15px;
        border: 2px white solid;
        border-radius: 5%;
        
        img {
            width: 40%;
        }

        p {
            width: 60%;
            font-size: small;
            line-height: 7px;
            font-family: $fuente-cortos;
        }
    }
}

@media (min-width: 768px) {
    .main-shows{
        .shows-chicos {
            img {
                width: 50%;
            }
    
            p {
                width: 50%;
                font-family: $fuente-cortos;
                font-size: large;
                line-height: normal;
            }
        }
    }
}
@media (min-width: 1024px){
    .main-shows{
        .shows{
            height: 800px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            ::-webkit-scrollbar{
                width: 10px;
                -webkit-appearance: none;
            }
            ::-webkit-scrollbar-track{
                border-radius: 10px;
            }
            ::-webkit-scrollbar-thumb{
                background-color: grey;
                border: 2px solid #f1f2f3;
                border-radius: 20px;
            }       
        }
        .show-principal {
            img{
                height: 75%;
            }
            p{
                font-size: large;
            }
        }
        .shows-secundarios{
            overflow: auto;
            overflow-x: hidden;
            
        }
        .shows-chicos{
            display: flex;
            flex-direction: row;    
            img{
                height: 300px;
            }
        }
    }
}