.main-contacto{
    margin-top: 150px;
    background-color: black;    
    color: white;
    border: black solid;
    height: 100vh;
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
                margin: 20px;
                width: 300px;
            }
            .mensaje{
                height: 150px;
            }
        }
    }
    h1{
        font-family: $fuente-cortos;
        display: block;
        text-align: -webkit-center;
    }
    img{
        width: 100%;
    }
}
@media (min-width: 1024px){
    .main-contacto{
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        img{
            width: 60%;
        }
    } 
}