.main-discografia{
    background-color: black;
    color: white;
    border: black solid;
    padding: 30px;
    
    h1 {
        display: block;
        text-align: -webkit-center;
        font-family: 'Dokdo', cursive;
    }
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;    
    }
    div{        
        display: block;
        text-align: center;
        width: 157px;
        img{
            width: 85%;
        }
        &:hover img{
            width: 100%;
        }
        p{
            font-family: 'Dokdo', cursive;
        }
        small{
            font-family: 'Dokdo', cursive;
        }
    }
    
    
}

@media (min-width: 1024px){
    .main-discografia{
        height: 100%;
        div{
            width: 300px;
        }
    }
}