@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

$fuente-nav: 'Rock Salt', cursive;
$fuente-cortos: 'Dokdo', cursive;
$fuente-largos: 'Architects Daughter', cursive;

